html
  head
    title THAMES WEIR STAKEOUT TIME
    link(rel='stylesheet', type='text/css', href='style.css')

  body

video(autoplay muted loop id="myVideo")
  source(src="video.mp4" type="video/mp4")

div(class='content')
  h1 THAMES WEIR STAKEOUT TIME
  each val in message
    h1= val

  button(id="myBtn") I can count - give me the numbers

div(id='myModal',class='modal')
  div(class="modal-content")
    span(class="close") &times;
    p The Thames is split at the Maids gauge - some of it has already headed down the Jubilee river which has its own gauge at Taplow
    each num in numbers
      p= num
    a(href='http://chalfontparkcc.org.uk/flow/') Check out the great set of stats here from CPCC

script(src='modal.js')